<div>
    <div class="relative bg-gray-100">
        <div class="container mx-auto">
            <div class="md:flex py-12 text-sm md:text-left text-center">
                <div class="w-full w-1/5 pr-0 md:pr-8">
                    <img src="../../../assets/images/go-blitz-logo.png" alt="" class="mx-auto">
                </div>
                <div class="w-full w-1/5">
                    <ul class="">
                        <li><a [routerLink]="['/about-us']" routerLinkActive="router-link-active" class="block py-2 hover:text-gray-800 text-gray-700">About</a></li>
                        <!-- <li><a href="" class="block py-2 hover:text-gray-800 text-gray-700">Blog</a></li> -->
                        <!-- <li><a href="" class="block py-2 hover:text-gray-800 text-gray-700">Terms</a></li> -->
                        <li><a [routerLink]="['/privacy-policy']" class="block py-2 hover:text-gray-800 text-gray-700">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="w-full w-1/5">
                    <ul class="">
                        <!-- <li><a href="" class="block py-2 hover:text-gray-800 text-gray-700">Ad Choice</a></li> -->
                        <li><a [routerLink]="['/community-guidelines']" class="block py-2 hover:text-gray-800 text-gray-700">Community Guidelines</a>
                        </li>
                        <li><a href="" class="block py-2 hover:text-gray-800 text-gray-700">Cookie Policy</a></li>
                        <!-- <li><a href="" class="block py-2 hover:text-gray-800 text-gray-700">Security</a></li> -->
                    </ul>
                </div>
                <div class="w-full w-1/5 py-2">
                    <!-- <h4 class="font-bold">Contact Us:</h4>
          <p class="text-gray-600">
              Our head quarters are located at: <br>
              301, Platinum Tower, <br>
              Sohna Road, Sector 47, <br>
              Gurgaon
          </p> -->
                </div>
                <div class="w-full w-1/5 py-2">
                    <!-- <h4 class="text-red-500 text-base">Follow Us On</h4> -->
                    <div class="mt-2">
                        <!-- <a href="" class="inline mr-3"><img class="social-link"
                    src="../../../assets/images/facebook-logo.png" alt=""></a>
            <a href="" class="inline mr-3"><img class="social-link"
                    src="../../../assets/images/linkedin-logo.png" alt=""></a>
            <a href="" class="inline mr-3"><img class="social-link"
                    src="../../../assets/images/twitter-logo.png" alt=""></a> -->
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <img src="../../../assets/images/mascot.png" alt="" class="absolute md:block hidden" style="right: 0; bottom: 0; z-index: 0;width:263px">
    </div>
    <div class="bg-gray-800 text-white border-red-500 border-t-2 p-4">
        <div class="container mx-auto md:flex text-center items-center justify-between">
            <div class="">
                &copy; 2020 GoBlitz. All Rights Reserved.
            </div>
            <div class="">
                <!-- Powered by <span class="text-red-500">Kritivity</span> -->
            </div>
        </div>
    </div>
</div>