
<div class="container mx-auto md:flex items-center">

  <div class="md:block flex item-center mb-1 md:ml-0 ml-4 md:mr-4 mr-0"  >
      <div class="font-medium tracking-wider mr-3 text-xs flex items-center ml-2" style="display: inline-block;" > Filter By</div>
      <form action="" style="display: inline-block; ">
         
        <select  name="" (change)="addTag($event.target.value)"
        class="border-gray-300 focus:border-pure-red hover:border-pure-red focus:outline-none text-gray-700 rounded border py-1 px-2 text-xs">
        <option value="">Select an option</option>
        <option *ngFor="let tag of alltag" [value]="tag.tag">{{ tag.tag }}</option>
    </select>
      </form>
  </div>

  <div class="md:block flex item-center mb-1 md:ml-0 ml-4 md:mr-4 mr-0">
    
    
      <div class="md:inline-flex w-auto hidden flex-grow ml-2" >
        <input (keyup)="getAllChannelList($event)"  style="height: 30px;" name="searchText" [(ngModel)]="searchText" type="text" class="bg-gray-100 p-2 text-xs rounded-sm focus:outline-none flex-grow" placeholder="Search">
        <button  class="bg-gray-300 text-gray-500  px-4 rounded-sm"><i
          class="fa fa-search"></i></button>
      </div>
    </div>
    
    </div>
<!-- collection -->
<div class="container mx-auto pb-12">
  <span *ngFor="let tag of tagsArray" class="bg-gray-300 text-gray-800 text-xs rounded px-4 py-1 mr-2 mb-2"> {{tag}}
    <span (click)="removeTag(tag)">&times;</span>
</span>
  <div class="flex flex-wrap">
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 my-4" *ngFor="let channel of allChannelPage">
       
      <div class="pl-3 w-auto" >
        <app-channel-card-two [cardType]="'channel'" [channel]="getItem(channel)"></app-channel-card-two>
      
      </div>
      <!-- <div class="flex flex-wrap">
        <span *ngFor="let tag of channel.streamTags"
            class="bg-gray-300 text-gray-800 text-xs rounded px-4 py-1 mr-2 mb-2"
            (click)="addTag(tag)">{{tag}}</span>

    </div> -->
    </div>
  </div>
  <div *ngIf="allChannelPage?.length == 0">
    <p>No all channel found for filter<span style="color: red"></span></p>
  </div>
</div>
<!-- collection end -->



