<form class="bg-white mb-4 pb-8 pt-6 shadow-md text-sm w-1/3"
      [formGroup]="gameInfoForm" (ngSubmit)="create()">
  <div class="flex-container">
    <div class="column">
      <div class="game-pic img1">
        <span>Upload Game Image</span>
        <input formControlName="image" type="file" #gameImage (change)="getImagePreview($event)">
        <img [src]="getImageUrl(game.image)" alt="">
        <div class="edit">
          <button class="hover:text-white rounded font-bold demo" (click)="gameImage.click()">
            <i class="fa fa-pencil fa-sm p-1"></i>
            edit
          </button>
        </div>
      </div>
      <div class="game-pic img1 md-4">
        <span>Upload Cover Image</span>
        <input formControlName="coverImage" type="file" #gameCoverImage (change)="getCoverImagePreview($event)" >
        <img [src]="getImageUrl(game.coverImage)" alt="">
        <div class="edit">
          <button class="hover:text-white rounded font-bold demo" (click)="gameCoverImage.click()">
            <i class="fa fa-pencil fa-sm p-1"></i>
            edit
          </button>
        </div>
      </div>
    </div>
    <div class="column bg-alt pl-16">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
          Title
        </label>
        <input id="title" formControlName="title" type="text" name="title">{{game.title}}
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="tags">Tags</label>
        <ngx-select-dropdown [(ngModel)]="tags" formControlName="tags" [multiple]="true" [config]="tagconfig" [options]="allactiveTag"></ngx-select-dropdown>

    </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Description
        </label>
        <textarea formControlName="description" rows="12" name="description">{{game.description}}</textarea>
      </div>

      <div class="col-6 md-4">
        <label class="switch">
          <input type="" formControlName="status">
          <span class="slider round"></span>
        </label>
        <span class="pl-3" style="vertical-align: text-bottom;">
          {{game.status === true ? 'Active' : 'Inactive'}}</span>
      </div>

      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
          Update
        </button>
      </div>
    </div>
  </div>
</form>



<div class="row" >
    <div class="col-md-12">
      <div class="card my-2 card-shadow p-0">
      
        <div class=" " style="z-index: 2;">
          <div class="table-responsive">
            <table id="dataTable" class="table table-striped table-bordered table-responsive">
              <thead>
                <tr>
                  <!-- <th>game</th> -->
                  <th>tag</th>
                  <th>title</th>
                 <th>description</th> 
                 <th>Status</th>
                  <th class="text-center" style="width: 100px;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let entry of game">
                  <ng-container >
                    <!-- <td>{{entry.}}</td> -->
                    <td>{{entry.tags}}</td>
                    <td>{{entry.title}}</td>
                    <td>{{entry.description}}</td>
                    
                    <td>
                      <div class="text-center">
                        <label class="switch" data-toggle="modal" 
                          data-target="##changeUserStatus">
                          <input type="checkbox" [checked]="entry.status" disabled>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>

                    <td class="actions">
                      <span 
                        class="align-items-center d-flex justify-content-around">
                        <span >Edit</span>
                        <i class="fa fa-trash text-danger" data-toggle="modal"
                          data-target="#deleteModal"></i>
                      </span>
                    </td>

                  </ng-container>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
