<!-- Recommended channels -->
<div class="bg-gray-100">
    <div class="py-20 container mx-auto">
        <h2 class="text-black text-xl pl-2 border-l-4 border-red-600 mb-6">
            Recommended Channels
        </h2>
        <div class="sm2:flex sm2:flex-wrap md:flex md:flex-wrap mx-0">
            <div class="w-full sm2:w-1/2 sm:w-1/4 p-2" *ngFor="let channel of previewChannels">
                <app-channel-card-two *ngIf="recommendedChannelList.length != 0" [cardType]="'channel'" [channel]='getChannel(channel)'></app-channel-card-two>
            </div>
        </div>
        <div style="display: none;">
            <div class="sm2:flex sm2:flex-wrap md:flex md:flex-wrap mx-0 overflow-hidden">
                <div class="w-full sm2:w-1/2 sm:w-1/4 p-2" *ngFor="let channel of restChannels">
                    <app-channel-card-two *ngIf="recommendedChannelList.length != 0" [cardType]="'channel'" [channel]='getChannel(channel)'></app-channel-card-two>
                </div>
            </div>
        </div>
        <a  [routerLink]="getRoute()" routerLinkActive="router-link-active"   *ngIf="restChannels.length != 0 && channelStatus" class="text-red-600 text-xs mt-4 font-bold more-indicator"
            (click)="toggleRest($event)" >
            {{ showRest ? getAll() : 'See more' }}</a>
    </div>
</div>
<!-- Recommended channels end -->
