<div class="banner">
    <div class="container">
        <h1 class="banner-head">About US</h1>
        <p class="banner-text"><span class="purple"> Goblitz</span><span class="red">.tv</span> is a streaming platform made <span class="purple">by gamers, </span> <span class="red">for gamers. </span>Discover new and upcoming <br> streamers and interact width a wide community
            of gamers here on <span class="purple">
                Goblitz</span><span class="red">.tv</span>

        </p>
        <img class="banner-img" src="../../../assets/images/about-us/Console.png" alt="">
    </div>
</div>

<div class="section">

    <div class="container">

        <div class="section-inner p-450 flex-direction">
            <div class="section-image">

                <a href="#"> <img class="image1" src="../../../assets/images/about-us/Thumbnail3.png" alt=""></a>

                <a href="#"> <img class="image2" src="../../../assets/images/about-us/Thumbnail.png" alt=""></a>


                <a href="#"> <img class="image3" src="../../../assets/images/about-us/Thumbnail2.png" alt=""></a>
            </div>

            <div class="section-content pd-left">
                <h2 class="section-head">High Quality <br> Low Latency Streams:</h2>
                <p class="section-text">Don't blink or you'll miss it!!! Enjoy your favourite<br>gamers streaming in high quality to ensure you
                    <br>don't miss even a single clutch killshot. Interact<br>them with throught chat and make sure to show <br>your support. Enjoy having some fun of the side as <br>well with a wide varitiy of emojis.
                </p>
            </div>


        </div>
        <img class="overlay-console-img" src="../../../assets/images/about-us/Console2.png" alt="">
    </div>
</div>

<div class="bg-color p-lr">
    <div class="container">

        <div class="section-inner pd-top flex-none">

            <div class="section-content">
                <h2 class="section-head">All Games, for all Gamers <br>in All Languages. </h2>
                <p class="section-text">We have streamers who streams all different types <br> of games. Watch whatever you love, whether it is
                    <br>FPS, or Battle Royale or MOBA enjoyable single<br> player playthroughs. And the best part is, you can <br>watch in the language of your choice.
                </p>
            </div>
            <div class="section-image">
                <img class="rt-0" src="../../../assets/images/about-us/soldier.png" alt="">
            </div>


        </div>

        <div class="section-inner pd-600">
            <div class="col">
                <h3 class="col-head">Why <br> <span class="red">GoBlitz?</span></h3>
            </div>
            <div class="col border text-center">
                <img class="dis-inline" src="../../../assets/images/about-us/laptop.png" alt="">
                <h4 class="icon-head m-25">Dedicated Platform for Gaming</h4>
                <p class="icon-text">Find all kinds of games,<br> that you want to watch, in the <br>language that you want</p>
            </div>
            <div class="col text-center border">
                <img class="dis-inline" src="../../../assets/images/about-us/easy to use icon.png" alt="">
                <h4 class="icon-head">Easy to Use and get discovered</h4>
                <p class="icon-text">New to streaming?<br>Want to become Popular? <br>Get discovered easily through our platform</p>
            </div>
            <div class="col text-center border-bt">
                <img class="dis-inline" src="../../../assets/images/about-us/seamless icon.png" alt="">
                <h4 class="icon-head mg-top">Seamlessly Integrated</h4>
                <p class="icon-text">All mobile and PC<br> games work flawlessly <br>on our platform</p>
            </div>



        </div>



    </div>

</div>

<div class="bg-color">
    <div class="container">
        <div class="dis-flex">
            <div class="col-50 text-center">
                <img class="float-lt dis-inline" src="../../../assets/images/about-us/contact us.png" alt="">
                <h4 class="icon-head mg-top ">Contact Us:</h4>

                <p class="icon-text p-100">Looking to stream in our site and become part of our roster?<br>Contact us <a href="#" class="purple">arit@goblitz.tv</a> with your profile and we will get back to you
                </p>
            </div>
            <div class="col-50 text-center">
                <img class="float-lt dis-inline" src="../../../assets/images/about-us/support.png" alt="">
                <h4 class="icon-head mg-top ">Support:</h4>
                <p class="icon-text">For any support related queries, <br><a href="#" class="purple">support@goblitz.tv</a></p>
            </div>
        </div>
    </div>
</div>