
<!-- collection end -->


<!-- <div class="container py-12 mx-auto">

    <h2 class="text-black text-xl pl-2 border-l-4 border-red-600 mb-6"> Videos </h2>

    <div class="container mx-auto pb-12">

                       <div class="pl-3 w-auto" *ngFor="let pro of profiles">

                                <h5 class="text-xs text-gray-500" > @{{  video.name  }}</h5>



                            </div> -->



<!-- </div> -->

<!-- collection end -->
<!-- <app-login-card *ngIf="isAuthFormVisible" [formType]="authFormType" (closeCard)="hideAuthForm()"></app-login-card> -->
