<div class="wrapper">

    <div class="banner">
        <div class="container">
            <div class="banner-inner">
                <div class="banner-img">
                    <img class="mg-left img-res" class="bottom-img" src=" ../../../assets/images/how-to-stream/ellipse.png" alt="">
                </div>
                <div class="banner-content">

                    <h1 class="main-head">
                        How to Setup <br> Streamlabs <span class="red">in Mobile</span>
                    </h1>
                </div>

            </div>
        </div>
    </div>

    <div class="article">
        <img class="mobile-overlay-right" src=" ../../../assets/images/how-to-stream/object1.png" alt="">
        <div class="container">
            <div class="article-inner">
                <div class="article-inner-left mg-left">
                    <h2 class="article-title">
                        Download & Install <span class="red">Streamlabs</span><br>on Mobile from the playstore
                    </h2>
                    <p class="article-text">Download Streamlabs from <a href="#" class="blue">Here</a></p>
                </div>
                <div class="mobile-border-left"></div>
                <div class="article-inner-right">

                    <img class="mobile mobile-res" src=" ../../../assets/images/how-to-stream/portrait-mob.png" alt="">

                </div>
            </div>
        </div>
    </div>
    <div class="article">
        <img class="mobile-overlay-left" src=" ../../../assets/images/how-to-stream/object2.png" alt="">
        <div class="container">
            <div class="article-inner flex-direction">
                <div class="article-inner-left">
                    <img class="mobile mg-left" src=" ../../../assets/images/how-to-stream/landscape-mob.png" alt="">

                </div>
                <div class="mobile-border-right"></div>
                <div class="article-inner-right">
                    <h2 class="article-title">
                        Open Streamlabs and<br>go to <span class="red">editor</span>
                    </h2>
                </div>


            </div>
        </div>
    </div>
    <div class="article">
        <img class="mobile-overlay-right tp-min" src=" ../../../assets/images/how-to-stream/object3.png" alt="">
        <div class="container">
            <div class="article-inner">

                <div class="article-inner-left text-left">
                    <h2 class="article-title">
                        <span class="red">Add layer</span> of phone <br> screen to streamlabs and <br>stretch it to
                        <span class="red">fill the screen</span>
                    </h2>
                </div>
                <div class="article-inner-right m-0">
                    <img class="mobile" src=" ../../../assets/images/how-to-stream/landscape-mob1.png" alt="">

                </div>
            </div>

        </div>
    </div>

    <div class="article">
        <img class="mobile-overlay-left" src=" ../../../assets/images/how-to-stream/object2.png" alt="">
        <div class="container">
            <div class="article-inner flex-direction">
                <div class="article-inner-left">
                    <img class="mobile mg-left" src=" ../../../assets/images/how-to-stream/editor.png" alt="">

                </div>
                <div class="mobile-border-left tp-40 ht-300"></div>
                <div class="article-inner-right">
                    <h2 class="article-title">
                        Go to <span class="red"> settings</span> on your<br>Goblitz.tv profile and get your
                        <br>channel's <span class="red">RTMP URL and KEY.</span>
                    </h2>
                    <h2 class="article-title">
                        Enter the same name in<br>Streamlabs App<span class="red"> - ></span> Settings <span class="red"> - ></span> <br>Streaming Platform <span class="red"> - ></span> Custom RTMP
                        <br> Server
                    </h2>
                </div>


            </div>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="section-inner">
                <div class="section-content">

                    <h1 class="main-head">
                        How to Setup <br> Streaming <span class="red">on Goblitz</span>
                    </h1>
                </div>
                <div class="banner-img mg-left text-right">
                    <img class="bottom-img img-res" src=" ../../../assets/images/how-to-stream/ellipse.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="server">
        <img class="server-object-right" src=" ../../../assets/images/how-to-stream/object4.png" alt="">
        <div class="container">
            <div class="server-inner">
                <div class="server-content text-left">
                    <h2 class="article-title">
                        Download <br> <span class="red">Streamlabs OBS</span>
                    </h2>
                    <p class="article-text">Download OBS from <a href="#" class="blue">Here</a><br>Open and go to Streamlabs settings.
                    </p>
                </div>
                <div class="server-border-left"></div>
                <div class="server-img text-right">
                    <img class="mobile" src=" ../../../assets/images/how-to-stream/screen1.png" alt="">

                </div>
            </div>
        </div>
    </div>
    <div class="server">
        <img class="server-object-left" src=" ../../../assets/images/how-to-stream/object5.png" alt="">
        <div class="container">
            <div class="server-inner flex-direction">

                <div class="server-img text-light">
                    <img class="mobile" src=" ../../../assets/images/how-to-stream/screen2.png" alt="">

                </div>
                <div class="server-border-right"></div>
                <div class="server-content text-right">
                    <h2 class="article-title">
                        Select <span class="red">Streaming Platform</span><br>and select <span class="red">Custom
                            Server</span>
                    </h2>
                    <p class="article-text">Go to Goblitz settings page on the <a href="#" class="blue">Goblitz
                        </a>website
                    </p>
                    <p class="article-text">Copy URL and stream key from Goblitz website into<br> Streamlabs custom server section
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="server">
        <img class="server-object-right" src=" ../../../assets/images/how-to-stream/object6.png" alt="">
        <div class="container">
            <div class="server-inner">

                <div class="server-content text-left">
                    <h2 class="article-title">
                        Go <span class="red">Live </span>on OBS
                    </h2>
                    <p class="article-text">Press the red button in streamlabs <br>to start the<span class="red">
                            Stream</span>
                    </p>
                    <h3 class="sm-head">View your stream</h3>
                    <p class="article-text m-0">@goblitz.tv/yourname/channel</p>

                </div>
                <div class="button"><button type="button"></button></div>
                <div class="server-border-straight"></div>
                <div class="server-img text-right">
                    <img class="mobile" src=" ../../../assets/images/how-to-stream/screen3.png" alt="">

                </div>

            </div>
        </div>
    </div>

    <div class="social">
        <div class="social-inner">
            <div class="social-icons">
                <img class="pinterest" src=" ../../../assets/images/how-to-stream/pinterest.png" alt="">
                <img class="facebook" src=" ../../../assets/images/how-to-stream/facebook.png" alt="">
                <img class="whatsapp" src=" ../../../assets/images/how-to-stream/whatsapp.png" alt="">
                <img class="linkedin" src=" ../../../assets/images/how-to-stream/linkedin.png" alt="">
                <img class="twitter" src=" ../../../assets/images/how-to-stream/twitter.png" alt="">
                <img class="instagram" src=" ../../../assets/images/how-to-stream/insta.png" alt="">
            </div>
        </div>
        <div class="social-text">
            <p class="text">Increase your views by sharing url <br> of the stream on different Social platforms</p>
        </div>
    </div>

</div>