

<div class="container py-12 mx-auto  ml-6 ">
    <h2 class="text-black text-xl pl-2 border-l-4 border-red-600 mb-6"> Following
        <span style="color: dimgray;">{{ follwoing.length}}</span>
    </h2>
    <div class="container mx-auto pb-12">
      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/3 md:w-1/3 lg:w-1/3 my-4" *ngFor="let follower of follwoing;">
          <div class="p-1 md:mr-4">
            <a [routerLink]="'/' + follower.channel.username+'/channel' ">
            <div class="my-3 flex flex-wrap items-center" style="z-index: 2;">
                <img
                [src]="follower.channel.profileImage != null ? getImageUrl(follower.channel.profileImage) : '../../../assets/images/no-profile-image.jpg'"
                alt="" class="rounded-full user-profile-icon" style="width: 50px;height:50px; border:1px solid #eee;">
             <div class="pl-3 w-auto">
                <h5 class="text-xs text-gray-500"> @{{ follower.channel.username }}</h5>
                <h5 class="text-xs text-gray-500" *ngIf="follower.channel.followersCount >0">
                  {{ follower.channel.followersCount + " follower"}}</h5>
              </div>
            </div>
           </a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- collection end -->
    <!-- <app-login-card *ngIf="isAuthFormVisible" [formType]="authFormType" (closeCard)="hideAuthForm()"></app-login-card> -->

